.cont {
  max-width: 710px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.main {
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

.section {
  margin-bottom: 2rem;
}